<app-header-tab title="Tab 4"></app-header-tab>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Adivina un número del 0 al 100</ion-label>
      <ion-button
        (click)="onClick()"
        [disabled]="!respuesta"
        expand="block"
        fill="clear"
        shape="round"
      >
        COMPROBAR
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Número:</ion-label>
      <ion-input
        type="number"
        placeholder="Introduzca un número"
        [(ngModel)]="respuesta"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{resultado}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
